@model Gestion_de_Taches.Models.DEPARTEMENT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suppression de Département :</h2>

<h3>Supprimer cette Département ?</h3>
<div>
    <h4>DEPARTEMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom de Département :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_DEPARTEMENT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-primary btn-lg" /> |
            @Html.ActionLink("Retour à la Liste de Dépatrements", "Index")
        </div>
    }
</div>
