@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:white;background-color:black;">
    <center>
        <table>
            <tr>
                <td>
                    <img src="~/images/44.png" style="width:200px;height:200px;" />
                </td>
                <td><h1>Gestion de Taches</h1></td>
            </tr>
        </table>
    </center>
</div>
